body {
  font-family: helvetica;
  margin: 0;
  padding: 0;
}

h1 {
  margin: 0;
  font-size: 1.4em;
  margin-bottom: 10px;
}

form input {
  display: block;
  margin-bottom: 15px;
}

.top-menu {
  background-color: #E7E8D1;
  height: 50px;
  line-height: 50px;
  border-bottom: 1px solid #D3CEAA;
  .tabs {
    display: inline-block;
    position: absolute;
    margin-left: 10px;
    padding-top: 9px;
    a, a:visited {
      margin-right: 5px;
      padding: 8px 12px;
      border-radius: 6px 6px 0 0;
      text-decoration: none;
      font-weight: normal;
    }
    a.active {
      color: darken(#D3CEAA, 20%);
      background-color: #fff;
      border: 1px solid #D3CEAA;
      border-bottom: none;
    }
    a {
      color: lighten(#E7E8D1, 20%);
      background-color: #D3CEAA;
      border: 1px solid #E7E8D1;
      border-bottom: none;
    }
  }
  .user {
    display: inline-block;
    position: absolute;
    right: 10px;
    &.logged-in {
      form.logout {
        display: inline-block;
        margin-left: 5px;

        input[type=submit] {
          border: none;
          background-color: transparent;
          cursor: pointer;
          color: #8F8B73;

          &:hover {
            background-color: fade(#669FEC, 20%);
          }
        }
      }
    }

    &.logged-out {
    }
  }
}

.top-flash {
  height: 34px;
  line-height: 34px;
  padding: 0 10px;
  border-bottom: 1px solid #efefef;

  .close {
    float: right;
    cursor: pointer;
    font-size: 1.2em;
    margin-right: 5px;
  }
}

.warning {
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
}

.content {
  position: relative;
  padding: 10px;
}

.query {
  ul {
    list-style-type: none;
    padding-left: 0;

    li {
      border-top: 1px solid #f0f0f0;

      &:last-child {
        border-bottom: 1px solid #f0f0f0;
      }

      button {
        display: block;
        width: 100%;
        text-align: left;
        font-size: 16px;

        background-color: white;
        border: none;
        border-left: 2px solid white;

        &:hover {
          background-color: #f8f8f8;
          border-left: 2px solid #669FEC;
        }
      }
    }
  }
}

.login-page, .signup-page {
  margin: auto;
  width: 200px;
  h1 {
    margin-top: 20px;
    text-align: center;
  }
  .links {
    text-align: center;
    margin-top: 20px;
  }
}

.login, .signup {
  input {
    width: 170px;
    margin-top: 5px;
  }
  margin-top: 20px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.authoring-menu {
  position: absolute;
  top: 20px;
  right: 15px;
  a {
    background-color: #D3CEAA;
    padding: 8px;
    border-radius: 3px;
    border-bottom: 1px solid #aaa;
    color: white;
    text-decoration: none;
  }
}

.edit-query {
  ol.predicants {
    list-style-type: none;
    padding-left: 0;
    margin: 0;
    
    li {
      button.remove {
        border: none;
        background-color: inherit;
        color: red;
        outline: none;
      }
    }
  }

  .predicant-select {
    display: inline-block;

    input[type=text] {
      outline: none;
      width: 200px;
    }

    div.select-list {
      position: relative;

      ol {
        position: absolute;
        background-color: white;
        max-height: 200px;
        overflow-y: scroll;
        margin: 0;
        list-style-type: none;
        padding-left: 0;
        box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.1);
        width: 206px;

        li {
          &:hover {
            cursor: pointer;
            background-color: rgba(0, 0, 0, 0.1);
          }

          .selected {
            color: green;
            margin-left: 20px;
          }
        }
      }

      ol:not(.show) {
        display: none;
      }
    }
  }
}
